<div class="search-filter full-height p-3">
  <!-- <form> -->
    <div class="form-group">
      <label for="exampleInputEmail1">Suburb</label>
      <input type="text" class="form-control" id="maf-searc-suburb" placeholder="Enter suburb" [(ngModel)]="suburb">
    </div>
    <p>{{ suburb }}</p>

    <hr>

    <div *ngFor="let section of searchQuery">
      <h5 class="mb-3">{{section.section}}</h5>
      <div *ngFor="let option of section.options" class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="option.checked">
          {{option.name}}
        </label>
      </div>
      <hr>
    </div>

    <div class="display-flex flex-row justify-center">
      <button md-raised-button color="primary" (click)="search()">Search</button>
    </div>
  <!-- </form> -->
</div>
