@import '../../styles-colors.scss';

:host {
  /deep/ .card {
    background: none;
    border: none;
    border-radius: 0;
  }

  /deep/ .card-header {
    background-color: $lochmara;
    border-radius: 0;

    > a {
      color: $white;
    }
  }


}