<div class="container-fluid display-flex flex-column full-height">
  <!--
  <div class="row">
    <div class="col-12">
      <app-maf-search-toolbar></app-maf-search-toolbar>
    </div>
  </div>
  -->
  <div class="row flex-1">
    <div class="col-md-4 col-lg-3 search-filter">
      <app-maf-search-filter></app-maf-search-filter>
    </div>
    <div class="col-md-8 col-lg-6 p-0">
      <app-maf-search-gmap></app-maf-search-gmap>
    </div>
    <div class="col-md-12 col-lg-3">
      <app-maf-provider-detail></app-maf-provider-detail>
    </div>
  </div>

</div>
